appdirs==1.4.4
attrs==21.2.0
beautifulsoup4==4.9.3
black==19.10b0
blinker==1.4
click==8.0.1
colorama==0.4.4
docutils==0.17.1
feedgenerator==1.9.1
Jinja2==3.0.1
Markdown==3.3.4
MarkupSafe==2.0.1
pathspec==0.8.1
pelican==4.6.0
Pygments==2.15.0
python-dateutil==2.8.1
pytz==2021.1
regex==2021.7.6
six==1.16.0
smartypants==2.0.1
soupsieve==2.2.1
toml==0.10.2
typed==0.6
typed-ast==1.4.1
typogrify==2.0.7
unicode==2.8
Unidecode==1.1.1
