appdirs==1.4.4
attrs==19.3.0
black==19.10b0
blinker==1.4
click==7.1.2
docutils==0.16
feedgenerator==1.9.1
Jinja2==2.11.2
Markdown==3.1.1
MarkupSafe==1.1.1
pathspec==0.8.0
pelican==4.2.0
Pygments==2.6.1
python-dateutil==2.8.1
pytz==2020.1
regex==2020.7.14
six==1.15.0
smartypants==2.0.1
toml==0.10.1
typed-ast==1.4.1
typogrify==2.0.7
Unidecode==1.1.1
beautifulsoup4==4.9.3
