{% extends 'base.html' %}
{% block title %}{{ category|capitalize() }}{% endblock title %}
{% block article_details %}
    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags has-addons">
                {% if article.author %}
                    <span class="tag is-info is-normal">
                        {% if article.authors|wordcount() == 4 %}
                            Authors:
                        {% else %} Author:
                        {% endif %}
                    </span>
                    {% for author in article.authors %}
                        <span class="tag is-danger is-light is-normal"> {{ author }} </span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-normal">Created:</span>
                <span class="tag is-normal is-primary is-light">{{ article.date|strftime('%d %B %Y') }}</span>
            </div>
        </div>
        <div class="control">
            <div class="tags has-addons">
                <span class="tag is-normal">Last Modified:</span>
                <span class="tag is-normal is-info is-light">{{ article.modified|strftime('%d %B %Y') }}</span>
            </div>
        </div>
    </div>
{% endblock article_details %}
{% block content %}
    {{ article.content }}
    {# Show Tags #}
    {% if article.tags %}
        <div class="control pt-6">
            <div class="tags ">
                <span class="tag is-info">Tags:</span>
                {% for tag in article.tags %}
                    <span class="tag is-info is-light">{{ tag }}</span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}