{% extends 'base.html' %}
{# title displayed in both the hero section and the head section #}
{% block title %}{{ category|capitalize() }}{% endblock title %}
{% block article_details %}
    <div class="field is-grouped is-grouped-multiline">
        {# If there is an author or authors specified in file, display them #}
        {% if article.author %}
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-link is-normal">
                        {% if article.authors|wordcount() == 4 %}
                            Authors:
                        {% else %} Author:
                        {% endif %}
                    </span>
                    {% for author in article.authors %}
                        <span class="tag is-link is-light is-normal">
                        <a href="/{{ author.url }}">{{ author.name }}</a>
                        </span>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {# Don't display the article date is show_date == "No" in file #}
        {% if not article.show_date == 'No' %}
            {# If nothing specified in the file or show_date == "Yes" display below #}
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-normal">Created:</span>
                    <span class="tag is-normal is-primary is-light">{{ article.date|strftime('%d %B %Y') }}</span>
                </div>
            </div>
        {% endif %}
        {# Don't display the article date is show_modified == "No" in file #}
        {% if not article.show_modified == 'No' %}
            {# If nothing specified in the file or show_modified == "Yes" display below #}
            <div class="control">
                <div class="tags has-addons">
                    <span class="tag is-normal">Updated:</span>
                    <span class="tag is-normal is-info is-light">{{ article.modified|strftime('%d %B %Y') }}</span>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock article_details %}
{% block content %}
    {# Actual article content   #}
    {{ article.content }}
    {# If Tags are present, display them #}
    {% if article.tags %}
        <div class="control pt-6">
            <div class="tags ">
                <span class="tag is-info">Tags:</span>
                {% for tag in article.tags %}
                    <span class="tag is-info is-light"><a href="/{{ tag.url }}">{{ tag }}</a> </span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock content %}