<!DOCTYPE html>
<html lang="
        {% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}" class="no-js">
<head>
    {% block head %}
        <title>{% block title %}{{ title }}{% endblock title %} - {{ SITENAME }}</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="canonical" href="{{ SITEURL }}">
        {# Global stylesheets #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/typeface-open-sans@0.0.75,npm/@creativebulma/bulma-divider@1/dist/bulma-divider.min.css">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/app.css">
        {# Icons #}
        {% include 'component_head_icons.html' %}
    {% endblock head %}
    {# Custom CSS #}
    {% block custom_css %}{% endblock custom_css %}
</head>
<body>
{% block body_extra %}{% endblock body_extra %}
{# Burger menu for mobile #}
{% include 'component_burger_menu.html' %}
{# Sidebar #}
<div class="columns is-gapless">
    <div id="doc-menu" class="column is-2 menu is-mobile" style="background-color:transparent !important;">
        {% include 'component_logo.html' %}
        {% include 'component_menu.html' %}
    </div>
    {# Content Section #}
    <section class="column">
        <div class="container is-desktop">
            <div class="my-5">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </section>
</div>
{# Custom Scripts #}
{% include 'component_custom_scripts.html' %}
</body>
</html>