<!DOCTYPE html>
<html lang="
        {% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}" class="no-js">
<head>
    {% block head %}
        <title>{% block title %}{{ title }}{% endblock title %} - {{ SITENAME }}</title>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="canonical" href="{{ SITEURL }}">
        {# Global stylesheets #}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/combine/npm/typeface-open-sans@0.0.75">
        <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/app.min.css">
        {# Icons #}
        {% include 'component_head_icons.html' %}
    {% endblock head %}
    {# Custom CSS #}
    {% block custom_css %}{% endblock custom_css %}
    <style type="text/css">
        body::before {
            content: "";
            position: fixed;
            top: -10px;
            left: 0;
            width: 100%;
            height: 10px;
            box-shadow: 0px 0 10px rgba(0, 0, 0, 0.8);
            z-index: 100;
        }
    </style>
</head>
<body>
{# Burger menu for mobile #}
{% include 'component_burger_menu.html' %}

{# Sidebar Menu #}
<div class="columns is-gapless">
    <div id="doc-menu" class="column is-2 menu is-mobile">
        {% include 'component_logo.html' %}
        {% include 'component_menu.html' %}
    </div>

    {# Title Section #}
    <div class=" column">

        {# Page hero Title #}
        {% include 'component_page_hero.html' %}

        <section class="section">
            <div class="container is-desktop">

                {# Content Title & anchor #}
                <a href="#page-title" id="page-title" class="title is-4 has-text-weight-normal is-spaced anchor mb-2">
                    <span>
                        {% if page %}
                            {{ page.title|capitalize() }}
                            {% elif article %}{{ article.title|capitalize() }}
                            {% elif category %}{{ category|capitalize() }}
                            {% elif tag %}Tag: {{ tag }}
                            {% elif author %}By author: {{ author }}
                            {% elif period %}{{ period | reverse | join(' ') }} archives
                            {# Search page #}
                            {% elif '?q=' %} Search
                        {% endif %}
                    </span>
                </a>
                {# End Content Title #}

                {# Article Title, Author Date and Modified Date #}
                {% block article_details %}
                {% endblock article_details %}

                {# Page Content #}
                <div class="my-5">
                    {% block content %}
                    {% endblock %}
                </div>
                {# End page content #}

            </div>
        </section>
        <footer class="footer">
            {# footer links #}
            {% include 'component_footer.html' %}
        </footer>
    </div>
</div>
{# Custom Scripts #}
{% include 'component_custom_scripts.html' %}
</body>
</html>