{% extends 'base.html' %}
{% block title %}{{ category }}{% endblock title %}
{% block article_details %}
    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags has-addons">
                {% if category.author %}
                    <span class="tag is-link is-normal">
                        {% if category.authors|wordcount() == 4 %}
                            Authors:
                        {% else %} Author:
                        {% endif %}
                    </span>
                    {% for author in category.authors %}
                        <span class="tag is-link is-light is-normal"> {{ author }} </span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock article_details %}
{% block content %}
    <div class="columns is-multiline">
        {% for x in articles %}
            <div class="column is-half">
                <a href="/{{ x.url }}">
                    <div class="box">
                        {% if x.icon %}
                            <div class="is-size-2" style="float:right">
                                <img src="{{ x.icon }}" title="{{ x.title }}" alt="Icon {{ x.title }}" intrinsicsize="35 x 35" style="" width="35px" height="35px">
                            </div>
                        {% endif %}
                        <div class="title">{{ x.title }}</div>
                        <div class="level">
                            <div>{{ x.summary }}</div>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock content %}