{% extends 'base.html' %}
{% block title %}{{ category }}{% endblock title %}
{% block article_details %}
    <div class="field is-grouped is-grouped-multiline">
        <div class="control">
            <div class="tags has-addons">
                {% if category.author %}
                    <span class="tag is-link">
                        {% if category.authors|wordcount() == 4 %}
                            Authors:
                        {% else %} Author:
                        {% endif %}
                    </span>
                    {% for author in category.authors %}
                        <span class="tag is-link is-light"> {{ author }} </span>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock article_details %}
{% block content %}
    <div class="columns is-multiline">
        {# Start creation of new box for every article #}
        {% for title in articles %}

            {# Begin Box Icon. Icon is linked to the internal article or external link #}
            <div class="column is-half">
                <div class="box">
                    <article class="media">

                        {# Check if the link is internal or not and if it is, link it to the internal article #}
                        <div class="media-left has-text-centered" style="width: 85px">
                            <figure>
                                <a {% if not title.link %}href="/{{ title.url }}" {% else %}href="{{ title.link }}" rel="nofollow noopener" target="_blank"{% endif %}>

                                    {# Logic for displaying images #}

                                    <img src=
                                                 {# Nothing set? Display 'No Image Available' #}
                                                 {% if not title.icon %}
                                                     "https://ik.imagekit.io/developcafe/no-image_V16k9hKS8.png"
                                                     {# Display image from imagekit (default for develop.cafe #}
                                                 {% else %}
                                                     "{{ title.icon }}?tr=r-max,h-85,bg-FFFFFF"
                                                 {% endif %}
                                                     title="{{ title.title }}" alt="{{ title.title }} Image">
                                </a>
                            </figure>
                        </div>
                        {# End Box Icon #}

                        {# Begin title of the box #}

                        {# Contains Title and Author #}
                        <div class="media-content">
                            <div class="content">

                                {# Github & externa Link #}
                                <div style="float: right; opacity: .5">
                                    {% if title.github_edit_link %}
                                        <a href="{{ title.github_edit_link }}" class="pr-3" style="vertical-align:middle;">
                                            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/github.svg" alt="Edit on GitHub" width="14">
                                        </a>
                                    {% endif %}

                                    {# Check if the link is internal or not and if it is, link it to the internal article #}
                                    {% if title.link %}
                                        <a {% if not title.link %}href="/{{ title.url }}" {% else %}href="{{ title.link }}" rel="nofollow noopener" target="_blank"{% endif %}>
                                            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/external.png" width="14" alt="external link">
                                        </a>
                                    {% endif %}
                                </div>

                                <p class="title is-4">
                                    {# Box Title with Link to internal or external#}
                                    <a {% if not title.link %}href="/{{ title.url }}" {% else %}href="{{ title.link }}" rel="nofollow noopener" target="_blank"{% endif %}>
                                        {{ title.title }}
                                    </a>
                                </p>

                                {# Check if there is an author. If it is, display it and link it to the author page#}
                                {% if title.authors or title.author %}
                                    <div class="tags has-addons mt-2">
                                        <span class="tag">Submission by:</span>
                                        {% for author in title.authors %}
                                            <span class="tag is-link is-light">{{ author }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                {# End Title and Author #}

                                {# Begin content Summary. #}
                                {# Check if the link is internal or not and create a link the summary #}
                                <p>
                                    <a {% if not title.link %}href="/{{ title.url }}" {% else %}href="{{ title.link }}" rel="nofollow noopener" target="_blank"{% endif %}>
                                        {{ title.summary|truncate(120,true) }}
                                    </a>
                                    {# End content summary #}
                                </p>
                            </div>

                            {# Begin lower part of the box #}
                            {# Attribution Required? #}
                            <nav class="level is-mobile" style="overflow: hidden">
                                {% if title.attribution %}
                                    <div class="level-left">
                                        <div class="tags has-addons">
                                            <span class="tag is-light">Attribution</span>
                                            <span class="tag {% if title.attribution == "No" %}is-success{% elif title.attribution == "Yes" %}is-warning{% else %}is-danger{% endif %}">
                                        {{ title.attribution }}
                                    </span>
                                        </div>
                                    </div>
                                {% endif %}

                                {# Commercial allowed? #}
                                {% if title.commercial %}
                                    <div class="level-item">
                                        <div class="tags has-addons">
                                            <span class="tag is-light">Commercial</span>
                                            <span class="tag {% if title.commercial == "Yes" %}is-success{% else %}is-danger{% endif %}">
                                        {{ title.commercial }}
                                    </span>
                                        </div>
                                    </div>
                                {% endif %}

                                {# Check if there are tags. If so, display them - Disabled on 11 August 2020, replaced with Github Edit Page Link #}
                                {#                                {% if title.tags %}#}
                                {#                                    <div class="level-item">#}
                                {#                                        <div class="tags has-addons">#}
                                {#                                            <span class="tag is-light">Tags</span>#}
                                {#                                            {% for tag in title.tags %}#}
                                {#                                                <span class="tag is-info is-light"><a href="/{{ tag.url }}">{{ tag.name }}</a></span>#}
                                {#                                            {% endfor %}#}
                                {#                                        </div>#}
                                {#                                    </div>#}
                                {#                                {% endif %}#}


                                {# Check if there last update is set to visible. If so, display it #}
                                {% if not title.show_modified == 'No' %}
                                    <div class="level-item">
                                        <div class="tags has-addons">
                                            <span class="tag is-light">Last update:</span>
                                            <span class="tag is-info is-light">{{ title.modified|strftime('%d %B %Y') }}</span>
                                        </div>
                                    </div>
                                {% endif %}
                            </nav>
                            {# End lower part of the box #}

                        </div>
                    </article>
                </div>
            </div>
        {% endfor %}
{% endblock content %}