<ul class="menu-list">
{#    <form action="{{ SITEURL }}/search.html" onsubmit="return validateForm(this.elements['q'].value);">#}
{#        <div class="field has-addons px-4">#}
{#            <div class="control">#}
{#                <input class="input" type="text" placeholder="Search" name="q" id="tipue_search_input">#}
{#            </div>#}
{#            <div class="control">#}
{#                <input class="button is-info" type="submit" value="Go!">#}
{#            </div>#}
{#        </div>#}
{#    </form>#}
    {% for title,url in MENUITEMS %}
        {% if url is string %}
            {% if title != 'Search' %}
                <li class="menu-item">
                    <a href="">{{ title }}</a>
                </li>
            {% endif %}
        {% elif url is iterable %}
            <li class="menu-item has-dropdown">
                <a class="menu-title">{{ title }}<span class="menu-caret"></span>
                </a>
                <ul class="menu-dropdown">
                    {% for cat, item_url in url %}
                        <li>
                            <a class="menu-item {% if cat == category %}is-active{% endif %}" href="{{ item_url }}">
                                {{ cat }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>
