<div class="hero is-light">
    <div class="hero-body py-5">
        <div class="container has-text-centered">
            <h1 class="title is-2 is-spaced has-text-weight-semibold">
                {% if page %}
                    {{ page.title|capitalize() }}
                    {% elif article %}{{ article.title|capitalize() }}
                    {% elif category %}{{ category|capitalize() }}
                    {% elif tag %}Tag: {{ tag }}
                    {% elif author %}Author: {{ author }}
                {% endif %}
            </h1>
        </div>
    </div>
</div>