<ul class="menu-list">
    {% for title,url in MENUITEMS %}
        {% if url is string %}
            {% if title != 'Search' %}
                <li class="menu-item">
                    <a href="">{{ title }}</a>
                </li>
            {% endif %}
        {% elif url is iterable %}
            <li class="menu-item has-dropdown">
                <a class="menu-title">{{ title }}<span class="menu-caret"></span>
                </a>
                <ul class="menu-dropdown">
                    {% for cat, item_url in url %}
                        <li>
                            <a class="menu-item {% if cat == category %}is-active{% endif %}" href="{{ item_url }}">
                                {{ cat }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>
