{% extends 'base.html' %}
{% block subtitle %}Search this website{% endblock subtitle %}
{% block title %}Search{% endblock title %}
{% block article_details %}
    If the local search is not useful, try searching with
    <a href="https://duckduckgo.com/?q=site%3Adevelop.cafe&t=h_" rel="nofollow noopener" target="_blank">DuckDuckGo</a>
    or
    <a href="https://www.google.com/search?q=site%3Adevelop.cafe&oq=site%3Adevelop.cafe" rel="nofollow noopener noreferrer" target="_blank">Google</a>.
{% endblock article_details %}
{% block content %}
    <div class="entry-content">
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js">
        </script>
        <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipuesearch_set.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tipuesearch.min.js"></script>
        <script>
            $(document).ready(function () {
                $('#tipue_search_input').tipuesearch({
                    'show': 8,
                    'mode': 'json',
                    'contentLocation': '{{ SITEURL }}/tipuesearch_content.json'
                });
            });
        </script>
        <div id="tipue_search_content"></div>
    </div>
    <script src="{{ SITEURL }}/tipuesearch_content.js"></script>
{% endblock %}
